@charset "UTF-8";

.container {
  inline-size: min(1280px, 100%);
  margin-inline: auto;
  padding: 30px;
  position: relative;
}

.cards-wrapper {
  --_spacing: calc(12 * var(--em-ratio));
  
  display: block grid;
  grid-template-columns: repeat(auto-fill,minmax(min(320px, 100%), 1fr));
  gap: 24px;
  max-inline-size: 1200px;
  margin-inline: auto;
}

.card {
  display: block grid;
  reading-flow: grid-order;
  grid-template-rows: subgrid;
  grid-row: span 4;
  row-gap: var(--_spacing);
  padding: var(--_spacing);
  background-color: rgb(from var(--color-light) r g b / 65%);
}

.title {
  font-size: calc(18 * var(--rem-ratio));
  line-height: 1.25;
}

.thumbnail {
  order: -1;
  margin-block-start: calc(var(--_spacing) * -1); 
  margin-inline: calc(var(--_spacing) * -1);

  & > img {
    inline-size: 100%;
    block-size: 100%;
    aspect-ratio:  16 / 9;
    object-fit: cover;
    object-position: center;
  }
}

.description {
  line-height: 1.5;
}

.price {
  border-block-start: 1px solid rgb(from var(--color-dark) r g b / 20%);
}

:root {
  --color-dark: #2a2a2a;
  --color-light: #f7f7f7;
  --color-accent: #ff6600;
  --base-text-unit: 16;
  --rem-ratio: calc(1rem / var(--base-text-unit));
  --em-ratio: calc(1em / var(--base-text-unit));

}

body {
  font-family: "Noto Sans JP","Klee One", serif;
  padding: max(5dvi, 20px);
}

.swiper-button-prev,
.swiper-button-next {
  --_duration: 0.3s;
  --_background-default: #0a0a0a;
  --_background-hover: oklch(from blue calc(l * 0.8) c h);

  inline-size: fit-content;
  border-radius: calc(1px / 0);
  box-shadow: 0 0 rgb(0 0 0 / 0%), 0 0 rgb(0 0 0 / 0%),
  0 1px 3px rgb(0 0 0 /10%),0 1px 2px rgb(0 0 0 / 6%);
  background-color: var(--_background-default);
  transition: background-color var(--_duration)
  , opacity var(--_duration);

  &::after {
    content: "";
    inline-size: 100%;
    block-size: 100%;
    mask-image: var(--_icon);
    aspect-ratio: 1;
    background-color: #f7f7f7;
  }  
}

.swiper-button-prev {
  --_icon: var(--icon-chevron-left);

  left: calc(var(--em-ratio) * -20);
}

.swiper-button-next {
  --_icon: var(--icon-chevron-right);

  right: calc(var(--em-ratio) * -20);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
  top: auto;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: auto;
  inline-size: calc(100% - 30px * 2);
  margin-inline: auto;
  position: relative;
}

.swiper-pagination-progressbar {
  --_background: oklch(from gray l c h / 20%);

  background-color: var(--_background);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  --_foreground: oklch(from gray l c h / 90%);
  
  background-color: var(--_foreground);
}