@charset "UTF-8";

body {
  font-family: "Noto Sans JP","Klee One", serif;
}

.cards-wrapper {
  --_spacing: calc(24 * var(--em-ratio));

}

:root {
  --color-dark: #2a2a2a;
  --color-light: #f7f7f7;
  
}